* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

body {
    background-color: #fff; 
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            
    padding: 0.8rem;
    margin: 0.8rem;
    background-color:  rgb(177, 9, 127);
  }
  
  nav ul li {
    padding: 0 1rem;
    display: inline-block;
   
    font-family: 'Oswald', sans-serif;
}

.logo {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
    

.shop-icon {
  position: relative;
}

.circle {
  border-radius: 50%;
  background-color: rgb(250, 245, 245);
  width: 24px;
  height: 24px;
  position: absolute;
}

.toggler {
  display: none;
}

/* .menu {
  text-decoration: none;
    color:rgb(250, 245, 245)
} */

 .search-input {
  border-radius: 12px;
  padding: 1emx;
  width: 40em;
  height: 4em;
  margin: 0.8rem; 
} 

.search-input:hover {
  border: 2px solid rgb(177, 9, 127);
}
  

.banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    margin: 0.8rem;
    border: 2px solid gray;
  }

  .img-banner {
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .products {
    
    border: 2px solid gray;
    padding: 0.8rem;
    margin: 0.8rem;
  }

  h1 {
    font-family: 'Playfair Display', serif;
    /* -webkit-transform: rotate(-30deg); 
    -moz-transform: rotate(-30deg); */
    color: rgb(177, 9, 127);
    font-size: 2.2em;
  }

  .allProducts {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 100px 100px 100px; 
    /* grid-gap: 5px; */
    grid-column-gap: 2em;
  }
 
  button {
    border: none;
    border-radius: 12px;
    padding: 8px;
    width: 8em;
    margin: 0.8rem; 
    background-color: rgb(247, 192, 201);
    color:rgb(177, 9, 127);
    font-family: 'Varela Round', sans-serif;
  }

  button:hover {
    background-color: rgb(177, 9, 127);
    color: #fff;
  }
  
  .productsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.8rem;
    margin: 0.8rem;

  }


  /* footer */

  footer {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    /* grid-template-columns: 100px 100px 100px;  */
    /* grid-gap: 5px; */
    grid-row-gap: 2em;
    /* width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center; */
    padding: 0.8rem;
    margin: 0.8rem;
    background-color: rgb(177, 9, 127);
}

footer p {
    font-size: 1em;
    /* margin-left: 30.9%; */
    /* align-items: center;
    align-content: center;
    justify-content: center; */
    width: 100%;
    color:rgb(250, 245, 245)
}
    
footer ul li  {
    list-style: none;
    /* display: flex;
    flex-wrap: nowrap;
    align-content: flex-end; */
    padding: 18%;
  }
   

/* footer ul {
    display: flex;
    align-items: center;
    flex-flow: row wrap; 
    justify-content: center;
    align-content: center;
    align-items: center; 
    margin-left: 60%; 
} */

.icon-color {
  color:rgb(250, 245, 245)
}

